  
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-area="client" asp-controller="Home" asp-action="Index" class="btn btn-primary">Client log in</a>
    <hr>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="btn btn-primary">Admin/employee Home</a>
    <hr>
    <a asp-area="AgComm" asp-controller="AgCommHome" asp-action="Index" class="btn btn-primary">Agricultural Commissioner's Home</a>
</div>


