  
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the California Crop Improvement Association's Web App</h1>

    <a asp-area="client" asp-controller="Home" asp-action="Index" class="btn btn-primary">Client log in</a>
    <hr>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="btn btn-primary">Admin/employee Home</a>
    <hr>
    <a asp-area="AgComm" asp-controller="AgCommHome" asp-action="Index" class="btn btn-primary">Agricultural Commissioner's Home</a>
    <hr>
    <div class="col-sm-12">
        <h3>Attention:</h3>

        <p>The CCIA Board of Directors approved a fee increase on 2/22 to both field applications and seed lot certification (including OECD and 'Not Finally Certified' fees).  Increases were also made to programs outside of regular seed certification, including potatoes, turfgrass, Pre-Variety Germplasm, and the rice QA program.  This change will be effective 3/1/2024.  Applications for the 2024 crop year submitted prior to 3/1 will be charged accorded to the previous fee structure.</p>

        <p>For context, with few exceptions, the field certification fees have remained unchanged for over 20 years, and the seed lot certification fee has not changed in 7 years.  In addition to inflation adjustments, recent declines in sunflower seed production in CA have prompted a review of the fee structure.</p>

        <p>
            The CCIA is a non-profit organization, and the CCIA Board has a policy for when to return to customers revenue in excess of the financial reserve.  The new structure can be found by visiting
        </p><a href="https://ccia.ucdavis.edu/application-information">Application Fees</a>
        <br /><br /><a href="https://ccia.ucdavis.edu/certification/certification-fees">Certification Fees</a>
    </div>
    <hr />
    Please visit the <a href="https://ccia.ucdavis.edu/" class="btn btn-info">CCIA Homepage</a> for general information about CCIA as well as standards, requirements, fees, and our mapping programs.
</div>


