  
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the California Crop Improvement Association's Web App</h1>

    <a asp-area="client" asp-controller="Home" asp-action="Index" class="btn btn-primary">Client log in</a>
    <hr>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="btn btn-primary">Admin/employee Home</a>
    <hr>
    <a asp-area="AgComm" asp-controller="AgCommHome" asp-action="Index" class="btn btn-primary">Agricultural Commissioner's Home</a>
    <hr>
    Please visit the <a href="https://ccia.ucdavis.edu/" class="btn btn-info">CCIA Homepage</a> for general information about CCIA as well as standards, requirements, fees, and our mapping programs.
</div>


