@await Html.PartialAsync("_tagGuidelines")


<form class="form-inline" asp-action="Create">
    <label for="Id" class="col-sm-1 col-form-label">ID</label>
    <input id="Id" name="Id" class="form-control mb-2 mr-sm-2" type="text">

    <label for="TagTarget" class="col-sm-1 col-form-label">Tagging</label>
    <select id="TagTarget" name="TagTarget" class="form-control">
        <option value="SID">Seed ID (SID)</option>
        <option value="BID">Blend ID (BID)</option>
        <option value="PO">Potato (App ID)</option>
        <option value="LT">LacTracker (App ID)</option>
    </select>
    <div class="col-sm-1"></div>
    <button type="submit" class="btn btn-primary mb-2">Retrieve Info</button>
  </div>

  
</form>