@model CCIA.Models.IndexViewModels.IndexViewModel



<form method="get" class="form-inline">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h2>@Model.PageTitle</h2>
        </div>
        <div class="card-body">
            <div class="form-row">
            <div class="form-group">
                <label for="CertYear">@Model.DropDownText</label>
                <select asp-for="CertYear" class="form-control" asp-items="@(new SelectList(Model.certYears, Model.CertYear))">
                    <option value="-1">Any</option>
                </select>
            </div>
            <div class="form-group"> 
                <i class="fa fa-refresh"></i><input type="submit" value="Update Table" class="btn btn-primary">                                           
            </div> 
            </div>
        </div>
    </div>    
</form>