<div>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Pending">Pending</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="SelectSeed">Seed Lots</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="SelectLabs">Lab Results</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="CertNumbers">Cert Numbers</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="Search">Search</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Seeds" asp-action="WeightLog">Weight log</a>                       
</div>