@{ 
    string name = ViewBag.name; 
    var selectListItems = new List<SelectListItem>();
    foreach (var c in Model.AppViewModel.ClassProducedList)
    {
        selectListItems.Add(new SelectListItem { Text = c.ClassProducedTrans, Value = c.ClassProducedId.ToString() } );
    }  
    var selectList = new SelectList(selectListItems, "Value", "Text"); 
}
<div class="form-group">
    @Html.DropDownList(name, selectList, new { @class="form-control" })
</div>