<h2>Reports</h2>

<ul>
    <li><a asp-action="Applications">Applied & Approved Acreage Report (Dynamic)</a></li>
    <li><a asp-action="Seeds">Pounds Certified Report (Dynamic)</a></li>
    <li><a asp-action="OECD">OECD Lots Report (Dynamic)</a></li>
    <li><a asp-action="BadTags">Tags with incomplete SID</a></li>
    <li><a asp-action="Assignments">Application Review Assignments</a></li>
    <li><a asp-action="Member">Member Report</a></li>

</ul>