@model CCIA.Models.Seeds


<h2>Application Details</h2> 
<div class="container">
    <div class="row">
        <div class="col-lg-6">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @Html.DisplayFor(x => x.Id)
                    </div>
                </div>
               
        </div>        
    </div>
</div>

