@model CCIA.Models.SeedsCreateOOSViewModel.SeedsCreateOOSViewModel

@{
    ViewData["Title"] = "Create New Seed Lot";
}

<h1>Create New Seed Lot from Seed grown outside California</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="SubmitInState" method="post">            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group row">
                <label for="ApplicantSearch" class="col-sm-3 col-form-label">Applicant:</label>
                <div class="input-group col-sm-9 " >
                    <input id="ApplicantSearch" class="form-control"></input> 
                    <div class="input-group-append">
                        <i class="fa fa-search input-group-text" id="retrieveButton"></i>
                    </div>
                    &nbsp;(enter Org Id or Name)
                </div>               
            </div>
             <div>
                <span id="results"></span>
            </div>
            <div id="selectCrop" style="display: none !important;">
                <input type="hidden" value="" asp-for="Seed.ApplicantId" /> 
                <div class="form-group row">
                   <label class="col-sm-3 col-form-label">Crop:</label>
                   <select id="Crop" class="form-control  col-sm-9" asp-items="@(new SelectList(Model.Crops, "CropId","Name"))"></select>          
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Variety:</label>
                    <div class="form-check col-sm-9">
                        <input class="form-check-input" id="Variety" />
                    </div>               
                </div>
            </div>            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="application/javascript">

        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        };

        $(document).ready(function () {
            $('#retrieveButton').click(function () {
                var searchTerm = $('#ApplicantSearch').val();                
                $.ajax({
                    method: 'GET',
                    url: '/Seeds/GetApplicants',
                    data: {
                        search: searchTerm,
                    }
                })
                .done(function(data){                    
                    $('#results').html("");
                    var s = '<table class="table"><tr><th>&nbsp;</th><th>Org Id</th><th>Applicant</th></tr>';
                        $.each(data,
                            function(i) {
                                var item = data[i];
                                s += '<tr><td><input type="button" value="Select" onClick="selectApplicant(' + item.orgId + ')"></input></td>';
                                s += '<td>' + item.orgId + '</td>';
                                s += '<td>' + item.orgName + '</td>';
                            });
                        s += '</table>';                                                
                    $('#results').html(s);
                })
                .fail(function(xhr) {
                    alert("Could not find info on that Org Id or Name");
                    console.log('error', xhr);
                }); 
            });
        });

        function selectApplicant(orgId)
        {
            $("#selectCrop").show();
            $("#ApplicantId").val(orgId);           
        }
       

    </script>
}