@model CCIA.Models.IndexViewModels.MyCustomersIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<div class="panel-heading">
    <h2>New Customer</h2>
    <input type="submit" value="Add New Customer" onclick="location.href='<%: Url.Action(Create, MyCustomers) %>'" class="btn btn-primary"/>
</div>

<div class="col-lg-1">
    <table id="table" class="table">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Address 1</th>
        <th>City</th>     
        </thead>
        <tbody>
            @foreach (var customer in Model.myCustomers)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="customer" asp-route-id="@customer.Id">Details</a></td>
                <td>@customer.Name</td>
                <td>@customer.Address1</td>
                <td>@customer.City</td>
                <td></td>                
            </tr>
            }
        </tbody>
    </table>
</div>