@model CCIA.Models.MyCustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>New Customer</h2>
    </div>
</div>

<div asp-validation-summary="All" class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.Name"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.Name" placeholder="Enter a name">
                    <span asp-validation-for="MyCustomer.Name" class="text-danger"></span>
                </div>                

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.Address1"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.Address1" placeholder="Enter an address"/>
                    <span asp-validation-for="MyCustomer.Address1" class="text-danger"></span>
                </div>               

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.Address2"></label>
                    <input class="form-control" type="text" asp-for="MyCustomer.Address2" placeholder="Apt/Suite #"/>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.City"></label>
                    <input required class="form-control" type="text" asp-for="MyCustomer.City" placeholder="Enter a city"/>
                    <span asp-validation-for="MyCustomer.City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.CountyId">County <span style="font-weight:normal">(Select "Select a county" if outside California)</span></label>
                    <select required asp-for="MyCustomer.CountyId" class="form-control" asp-items="@(new SelectList(Model.Counties, "CountyId", "CountyName"))"></select>
                    <span asp-validation-for="MyCustomer.CountyId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.StateId">State <span style="font-weight:normal">(Select "Outside US" as appropriate)</span></label>
                    <select required asp-for="MyCustomer.StateId" class="form-control" asp-items="@(new SelectList(Model.StateProvinces, "StateProvinceId", "StateProvinceName"))"></select>
                    <span asp-validation-for="MyCustomer.StateId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="MyCustomer.CountryId">Country</label>
                    <select required asp-for="MyCustomer.CountryId" class="form-control" asp-items="@(new SelectList(Model.Countries, "Id", "Name"))"></select>
                    <span asp-validation-for="MyCustomer.CountryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MyCustomer.Zip">Zip</label>
                    <input required asp-for="MyCustomer.Zip" type="text" class="form-control" placeholder="Enter a zip code"/>
                    <span asp-validation-for="MyCustomer.Zip" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MyCustomer.Phone"></label>
                    <input asp-for="MyCustomer.Phone" type="text" class="form-control" placeholder="Enter a phone number"/>
                </div>

                <div class="form-group">
                    <label asp-for="MyCustomer.Email"></label>
                    <input asp-for="MyCustomer.Email" type="email" class="form-control" placeholder="Enter an email address"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" asp-action="Create" asp-route-id="@Model.MyCustomer.Id">Add</button>
                    <a class="btn btn-primary" asp-action="Index" asp-controller="MyCustomers">Cancel</a>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="application/javascript">

        $(document).ready(function () {
            $("#MyCustomer_CountryId option[value*=58]").prop('selected', true);

            $('#MyCustomer_CountryId').change(function () {               
                var country = $("#MyCustomer_CountryId option:selected");
                showStates(country.text());
            });
        });

        function showStates(country)
        {               
            var selectText, indexText;

            if(country === "United States")
            {   
                selectText = "Alabama";
                indexText = "USA";
            } else if(country === "Canada")
            {
                selectText = "Alberta, Canada";
                indexText = ", Canada";               
            } else 
            {
                selectText = "Outside US";
                indexText = "Outside US";                   
            }
                
            $("#MyCustomer_StateId option").each(function() {
                if(indexText === "USA") {
                    if (~this.text.indexOf(", Canada") || ~this.text.indexOf("Outside US")) 
                    {
                        $("#MyCustomer_StateId option[value*='" + this.value + "']").prop('disabled', true);
                    } else 
                    {
                        $("#MyCustomer_StateId option[value*='" + this.value + "']").prop('disabled', false); 
                    }
                } else if(~this.text.indexOf(indexText))
                {
                    $("#MyCustomer_StateId option[value*='" + this.value + "']").prop('disabled', false);
                } else 
                {
                    $("#MyCustomer_StateId option[value*='" + this.value + "']").prop('disabled', true); 
                }

                if ($(this).text() === selectText) {
                    $("#MyCustomer_StateId option[value*='" + this.value + "']").prop('selected', true);
                }
            });
        };

    </script>
}