@model CCIA.Models.MyCustomers


@{
    ViewData["Title"] = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary" asp-action="Index" asp-controller="MyCustomers">Back to My Customers</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Name"></label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="Name">
                </div>                

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Address1"></label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="Address1"/>
                </div>               

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Address2"></label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="Address2"/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="City"></label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="City"/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="County.CountyName">County</label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="County.CountyName"/>
                </div>

                <div class="form-group row">
                    <label asp-for="State.StateProvinceName" class="col-sm-3 col-form-label">State</label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="State.StateProvinceName"/>
                </div>

                <div class="form-group row">
                    <label asp-for="Country.Name" class="col-sm-3 col-form-label">Country</label>
                    <input disabled class="col-sm-9 form-control-plaintext" type="text" asp-for="Country.Name"/>
                </div>

                <div class="form-group row">
                    <label asp-for="Zip" class="col-sm-3 col-form-label">Zip</label>
                    <input disabled asp-for="Zip" type="text" class="col-sm-9 form-control-plaintext"/>
                </div>

                <div class="form-group row">
                    <label asp-for="Phone" class="col-sm-3 col-form-label"></label>
                    <input disabled asp-for="Phone" type="text" class="col-sm-9 form-control-plaintext"/>
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                    <input disabled asp-for="Email" type="email" class="col-sm-9 form-control-plaintext"/>
                </div>

                <div>
                    <a class="btn btn-primary" asp-action="Edit" asp-controller="MyCustomers" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-controller="MyCustomers" asp-route-id="@Model.Id">Delete</a>
                </div>
        </form>
    </div>
</div>