@model CCIA.Models.IndexViewModels.MyCustomersIndexViewModel


@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-1">
    <table id="table" class="table">
        <thead>
            <th></th>
        <th>File#</th>
        <th>SID</th>
        <th>TagID</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Lot Ref#</th>
        <th>Close Date</th>
        <th>Lbs</th>
        <th>Class</th>
        <th>Country</th>
        <th>Link</th>        
        </thead>
        
    </table>
</div>