<h2>OECD</h2> 
<form asp-action="Details" method="GET">
<div class="container">
    <div class="row">
         <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>            
        </div>  
    </div>
    <div class="form-group row required">
        <label for="Id" class="col-sm-3 col-form-label">OECD ID</label>
        <input type="text" id="Id" class="col-sm-9 form-control" name="Id" data-val="true" data-val-required="OECD ID is required" data-val-number="OECD ID must be a number.">
        <span class="field-validation-valid text-danger" for="Id"  data-valmsg-replace="true"></span>
    </div>
    <div class="row">
         <input type="submit" value="Get OECD File" id="submit" class="btn btn-primary"></input> |
         <a class="btn btn-dark" asp-action="Create" asp-controller="OECD" asp-area="Admin">Create new OECD</a>
    </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}