/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.hidden {
    display: none;
}

.rounded-section {
    border-radius: .8em;
    padding: 6px 12px 2px 12px;
    margin-bottom: 10px;
}

#planting-stock, #field-info {
    padding: 2px 10px 10px 10px;
}

.pos-rel {
    position: relative;
}

.top-right-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
    background: #f1f1f1;
}

#second-ps-first-row {
    margin-top: 16px;
}

.off-white {
    background:#f1f1f1;
}

.light-grey {
    background: #dbdbdb;
}

.light-blue {
    background: #d2d7e1;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.required{
    color:#f00
}

.scrollable-menu{
    height:auto;
    max-height:400px;
    overflow-x:hidden
}

.btn-secondary{
    border:1px solid #ccc !important;
    background:#fff
}

.circular{
    border-radius: 50%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
