body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.form-section{
    border-radius:.8em;
    background:#f1f1f1;
    padding: 2px 10px 10px 10px;
    margin-bottom:10px
}

.planting-stock {
    border-radius: .8em;
    background: #dbdbdb;
    padding: 6px 12px 2px 12px;
    margin-bottom: 10px;
}

.second-planting-stock {
    background: #d2d7e1;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.required{
    color:#f00
}

.scrollable-menu{
    height:auto;
    max-height:400px;
    overflow-x:hidden
}

.btn-secondary{
    border:1px solid #ccc !important;
    background:#fff
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
