<div>
    <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Process">Process</a>
    <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Lookup">Tag Details</a>                      
    <a class="dropdown-item" asp-area="admin" asp-controller="Tags" asp-action="Search">Search</a>
</div>