@model CCIA.Models.ProcessViewModel

<h2>Tags</h2> 
<form asp-action="Process" method="Post">
<div class="row">
    <div class="col-sm-4">@*First column *@
        <div class="row form-group">
                <label for="Stage" class="col-form-label col-sm-3">Status</label>       
            <select asp-for="SelectedSearch" class="col-sm-5 form-control" asp-items="Html.GetEnumSelectList<TagStages>()"></select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group row">
            <label asp-for="YearSubmitted" class="col-form-label col-sm-6">Year submitted:<sup>*</sup></label> 
            <select asp-for="YearSubmitted" class="form-control col-sm-3" asp-items="@(new SelectList(Model.YearsToDisplay, Model.YearSubmitted))"></select>             
        </div>
    </div>
    <div class="col-sm-4">            
        <div class="form-group row">
            <input type="submit" value="Apply Filter" id="submit" class="btn btn-primary"></input> 
        </div>
    </div>
</div>
</form>

@if(Model != null)
{
    @await Html.PartialAsync("_TagTable", @Model.Tags)
}

<div><sup>*</sup>Only applied if "Complete" stage selected.</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            console.log("go");
            $('.datatable').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                "pageLength": 50,
                order: [[ 1, "asc"]],
                columnDefs: [{ targets: 0, orderable: false}],
            });
        } );
    </script>
}
