@model CCIA.Models.ProcessViewModel

<h2>Tags</h2> 
<form asp-action="Process" method="Post">
<div class="container">        
    <div class="form-group row">
        <label for="Stage" class="col-sm-3 col-form-label">Limit by Status</label>       
        <select asp-for="SelectedSearch" class="col-sm-3 form-control" asp-items="Html.GetEnumSelectList<TagStages>()"></select>                    
    </div>
    <div class="row">
         <input type="submit" value="Apply Filter" id="submit" class="btn btn-primary"></input>
    </div>
</div>
</form>

@if(Model != null)
{
    @await Html.PartialAsync("_TagTable", @Model.Tags)
}

@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            console.log("go");
            $('.datatable').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                "pageLength": 50
            });
        } );
    </script>
}
