@model List<CCIA.Models.Organizations>


<div>
    <table  class="table">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in Model)
            {
                <tr>
                    <td><a class="btn btn-primary" href="" onclick="useOrg(event,@org.OrgId,'@org.NameAndId');">select</a></td>
                    <td>@org.OrgId</td>
                    <td>@org.OrgName</td>
                </tr>                
            }
        </tbody>
    </table>
</div>
