@model List<CCIA.Models.AbbrevClassProduced>


<div>
    <table  class="table">
        <thead>
            <tr>
                <th></th>
                <th>Abbreviation</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cp in Model)
            {
                <tr>
                    <td><a class="btn btn-primary" href="" onclick="useClass(event,@cp.ClassProducedId,'@cp.ClassProducedTrans');">select</a></td>
                    <td>@cp.ClassAbbrv</td>
                    <td>@cp.ClassProducedTrans</td>
                </tr>                
            }
        </tbody>
    </table>
</div>
