@model CCIA.Models.AdminMapFieldsViewModel

<div class="col-sm-12">
    <div class="container">
        @{await Html.RenderPartialAsync("_Map", Model);}
    </div>
    <div class="container col-sm-12 row">
        @{await Html.RenderPartialAsync("Details", Model.details);}
    </div>
</div>

@section Scripts {
    <script type='text/javascript' src="//www.bing.com/api/maps/mapcontrol?callback=loadMapScenario" async defer></script>
    <script type="text/javascript" src="/js/Maps/MapFieldsV8.js"></script>
}