@model List<CCIA.Models.Applications>


@{
    ViewData["Title"] = "Pending Acceptance Applications";
}


<div class="card">
    <div class="card-header-access">
        <div class="card-head">
            <h2>Applications Pending Acceptance</h2>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ApplicationTable", @Model)



@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $(":checkbox").on("click", false);
            $('#table').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5'],
                order: [[ 1, "asc"]],
                columnDefs: [{ targets: 0, orderable: false}]
            });
        } );
    </script>
}
