<div>
    <h3>Role Explaination:</h3>
    <ul>
        <li>Current: Quick toggle have employee show up or not on lists/access</li>
        <li>CCIA Access: Allowed to log into admin site. Must be BOTH current & have CCIA Access to log in. Can be set to false to prevent log in, but still appear on drop down lists (e.g. Seasonal Inspectors NOT allowed to log in, but must still be listed as inspector</li>
        <li>Core Staff: Permanent CCIA employees. Core Staff can log in as orgs/contacts (can impersonate)</li>
        <li>Field Inspector: People who need to be selected as inspector on the Field Inspection Page</li>
        <li>Update Conditioner Status: Can edit Orgs to add/remove/update conditioner status</li>
        <li>Admin: Administrative staff who have full access to site, including all other roles. Only admins may adjust these roles.</li>
        <li>Edit Varieties: Can create and edit Varieties</li>
        <li>Seed Lot Inform: Include on emails letting staff know a new seed lot has been submitted</li>
        <li>SeasonalEmployee: Mostly used to exclude from certain sensative pages. Can view Orgs but make no updates.</li>
        <li>Billing Access: Can open/run/mark as complete the billing export</li>
        <li>New Tag: Include on emails letting staff know a new tag has been submitted</li>
        <li>Tag Printer: Inlcude on emails letting staff know a tag has been accepted and is ready to print</li>
        <li>Heritage Grain QA: Include on emails letting staff know a new Heritage Grain QA application has been submitted</li>
        <li>Pre-variety Germplasm: Include on emails letting staff know a new PVG application has been submitted </li>
        <li>OECD Printer: Include on emails letting staff know an OECD certificate has been printed (and should print an invoice copy)</li>

        
    </ul>
</div>