@{
    ViewData["Title"] = "Grower Lookup";
}

<h2>Application to Produce Certified @Model.AppTypeTrans: Grower Lookup</h2>

<div class="form-group">  
    <label for="account">Name or Account Number:</label>
    <input type="text" class="form-control" id="account" placeholder="Enter your name or account number">
</div>
<button class="btn btn-primary" id="account-lookup-btn">Look Up</button>

<h5><em id="res-warning" style="color: red"></em></h5>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Account #</th>
            <th>Grower</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody id="organizations">
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">

        function getStateOrProvince(sp_code, data, populateTable) {
            const antiforgery = $("input[name='__RequestVerificationToken']").val();
            $.get({
                url: "/Application/FindStateProvince",
                data: {code: sp_code, StateProvince__RequestVerificationToken: antiforgery}
            })
            .success(state_province => {
                populateTable(data, state_province);
            })
            .error(() => {
                alert("An internal error occured...");
            });
        }

        function lookupOrgs() {
            const antiforgery = $("input[name='__RequestVerificationToken']").val();
            var val = document.getElementById("account").value;
            if (val === "") {
                alert("This field cannot be empty");
                return;
            }
            var dataToPost = {lookupVal: val};
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/Application/Lookup",
                data: dataToPost,
                success: (response) => {
                    if (response.length == 0){
                        document.getElementById("res-warning").innerText = "No records matched your search.";
                    }
                    else {
                        document.getElementById("res-warning").innerText = "";
                    }
                    // clear our table before populating it
                    $("#organizations").empty();
                    // Get state/province from code                    
                    var row = "";
                    jQuery.each(response, function(i, data) {
                        let state_province = getStateOrProvince(data.address.stateProvinceId, data, populateOrgsTable);                               
                    });
                },
                error: (e) => {
                    console.log(e);
                    alert("An internal error occured...");
                }
                });
        }

        function populateOrgsTable(data, state_province) {
            /* Get app type id from querystring */
            const urlParams = new URLSearchParams(window.location.search);
            const appTypeId = parseInt(urlParams.get('appTypeId'));
            let actionType = "";
            switch(appTypeId){
                case 1:
                    actionType="CreateSeedApplication";
                    break;
                case 2:
                    actionType="CreatePotatoApplication";
                    break;
                case 3:
                    actionType=`CreateHeritageGrainApplication`;
                    break;
                case 4:
                    actionType=`CreateGemplasmApplication`;
                    break;
                case 5:
                    actionType=`CreateRiceApplication`;
                    break;
                case 6:
                    actionType=`CreateTurfgrassApplication`;
                    break;
                case 7:
                    actionType=`CreateHempFromSeedApplication`;
                    break;
                case 8:
                    actionType=`CreateHempFromClonesApplication`;
                    break;
                default:
                    actionType=`CreateSeedApplication`;
            }
            $("#organizations")
                .append(`<tr>
                        <td><a class="btn btn-primary" href='/Application/${actionType}/?orgId=${data.orgId}&appTypeId=${appTypeId}'>Select</a>
                        <td>${data.orgId}</td>
                        <td>${data.orgName}</td>
                        <td>${data.address.address1}</td>
                        <td>${data.address.city}</td>
                        <td>${state_province}</td>
                        </tr>`);
        }
        
        $('#account-lookup-btn').click(function(e){
            e.preventDefault();
            lookupOrgs();
        });

    </script>
}