@model CCIA.Models.ApplicationViewModel

<select class="form-control" name=@ViewBag.name>
    <option></option>
    @foreach (var state_country in Model.StateProvince)
    {
        <option value=@state_country.StateProvinceId>
                @state_country.StateProvinceName
        </option>
    }
</select>