<div class="text-center">
    <h1 class="display-4">Seed Transfers</h1>
</div>

<div class="container col-sm-12">            
    <div class="row">
       <ul>
           <li><a asp-action="Lookup">Find Seed Transfer</a></li>
           <li><a asp-action="Search">Search Seed Transfers</a></li>
       </ul>
    </div>
</div>