@using System.Collections.Generic;
@using System.Linq;
@using Microsoft.AspNetCore.Http;
@model LoginViewModel;

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Member/Customer Login</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>               
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>CCIA Staff</h4>
            <hr />
           <div><a asp-action="CasLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-primary">CAS Login</a></div>
        </section>
    </div>
</div>
<div class="col-sm-12">
    <h3>Attention:</h3>

    <p>The CCIA Board of Directors approved a fee increase on 2/22 to both field applications and seed lot certification (including OECD and ‘Not Finally Certified’ fees).  Increases were also made to programs outside of regular seed certification, including potatoes, turfgrass, Pre-Variety Germplasm, and the rice QA program.  This change will be effective 3/1/2024.  Applications for the 2024 crop year submitted prior to 3/1 will be charged accorded to the previous fee structure.</p>

    <p>For context, with few exceptions, the field certification fees have remained unchanged for over 20 years, and the seed lot certification fee has not changed in 7 years.  In addition to inflation adjustments, recent declines in sunflower seed production in CA have prompted a review of the fee structure.</p>

    <p>
		The CCIA is a non-profit organization, and the CCIA Board has a policy for when to return to customers revenue in excess of the financial reserve.  The new structure can be found by visiting
	</p><a href="https://ccia.ucdavis.edu/application-information">Application Fees</a>
        <br /><br /><a href="https://ccia.ucdavis.edu/certification/certification-fees">Certification Fees</a>
</div>
<div class="col-sm-12">
    <hr>
    Please visit the <a href="https://ccia.ucdavis.edu/" class="btn btn-info">CCIA Homepage</a> for general information about CCIA as well as standards, requirements, fees, and our mapping programs.
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
