<h2>Start New Varietal Blend</h2>

<form asp-action="StartNewVarietalBlend">
    <div class="row">
            <div class="col-lg-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="form-group row required">  
        <label for="variety" class="col-sm-3 col-form-label">Varietal Blend Name</label>
        <div class="input-group col-sm-6">                        
                <input class="form-check" id="variety" name="variety"/>
                <div class="input-group-append">
                    <button class="btn btn-primary dropdown-toggle" id="variety-search" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search"></i>
                    </button>     
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" id="variety-dropdown">
                        <div class="text-center">
                            <div class="spinner-border text-center" role="status"><span class="sr-only">Loading...</span></div>
                        </div>
                    </div>
                </div>
        </div>   
        <div>
            Please enter the variety name, click the magnifying glass to search the system, and select the correct variety. You cannot just enter the variety name; must perform the search and select variety to proceed.
        </div>
        @Html.ValidationMessage("Variety", "", new { @class = "text-danger" })
        <input type="hidden" id="varietyId" name="varietyId">
    </div>    
    <div><hr></div>  
    <div class="form-group row required">
        <label for="sid" class="col-sm-3 col-form-label">SID</label>
        <input type="text" class="col-sm-2 form-control" id="sid" name="sid" data-val="true" data-val-required="Please enter SID" data-val-number="SID must be a number">
        <span class="field-validation-valid text-danger" data-valmsg-for="sid" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group row required">
        <label for="weight" class="col-sm-3 col-form-label">Weight</label>
        <input type="text" class="col-sm-2 form-control" id="weight" name="weight" data-val="true" data-val-required="Please enter Weight" data-val-number="Weight must be a number">
        <span class="field-validation-valid text-danger" data-valmsg-for="weight" data-valmsg-replace="true"></span>
    </div> 
    <div class="form-group row">
        <input type="submit" class="btn btn-primary" value="Create Blend" onclick="JavaScript:return checkVariety();">
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
    <script type="application/javascript">

        function checkVariety()
        {
            var id = $("#varietyId").val();
            if(id == "")
            {
                alert("Please make sure you entered a variety, clicked the magnifying glass, and selected a variety from the drop down list!")
                return false;
            }
            //alert("submit");
            return true;
        }

        $('#variety-search').on('click', () => {
            searchVarieties("variety-dropdown", "variety", "selectFirstVarietyFormRemainder")
        });
       

        function searchVarieties(dropdownId, varietyInputId, selectVarietyCallback) {            
            if(!$("#variety").val())
            {
                alert("Warning: No variety name entered. Please update and try again"); 
                return;
            }
            let varietyName = $("#variety").val();          

            let data = {
                name: varietyName,
            };
            let vs = document.getElementById(dropdownId);
            // Take text in input box and autofill input with the variety name that most closely matches it
            $.ajax({
                type: "GET",
                url: "/client/Blend/FindBlend",
                data: data,
                success: function (res) {
                    vs.innerHTML = "";
                    // No varieties were found
                    if (res.length === 0) {
                        alert("Warning: No variety found. No variety with the entered name was found in our system. Please update and try again"); 
                        //window[selectVarietyCallback](-1, varietyName);                      
                    }
                    // Populate dropdown with list of varieties
                    res.forEach((el) => {
                        vs.innerHTML += `<a class="dropdown-item" id=variety-${el.id} value=${el.id} onclick="varietySelected(${el.id},'${el.name}');">${el.name}</a>`;
                    })
                },
                error: function (res) {
                    alert("There was an error processing the request");
                }
            });
        }

        function varietySelected(varietyId,varietyName) {  
            $("#variety").val(varietyName);
            $("#varietyId").val(varietyId);
        };  
    </script>
}
