@model List<CCIA.Models.BlendRequests>


 
@{
    ViewData["Title"] = "Blends Pending Acceptance";
}


<form method="get" class="form-inline">
    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h2>Blends By Status</h2>
        </div>
        <div class="card-body">
            <div class="form-row">
            <div class="form-group">
                <label for="Year">Status</label>
                <select id="Status" name="Status" class="form-control" asp-items="Html.GetEnumSelectList<BlendStatus>()"></select>
            </div>
            <div class="form-group"> 
                <i class="fa fa-refresh"></i><input type="submit" value="Update Table" class="btn btn-primary">                                           
            </div> 
            </div>
        </div>
    </div>    
</form>
@await Html.PartialAsync("_BlendsTable", @Model)



@section Scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    

    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                dom: 'lBfrtip',
                buttons: ['copyHtml5', 'csvHtml5']
            });
        } );
    </script>
}

