<div>
    <a class="dropdown-item" asp-action="Process">Process</a>
    <a class="dropdown-item" asp-action="Lookup">Blend</a>                      
    <a class="dropdown-item" asp-action="ByStats">By Status</a>
    <a class="dropdown-item" asp-action="Search">Search</a>
</div>