<div>
    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#roleExplainer" aria-expanded="false" aria-controls="roleExplainer">
    Show Roles
  </button>
</div>
<div class="collapse" id="roleExplainer">
    <h3>Role Explanation:</h3>
    <ul>
        <li><b>Current:</b> Quick toggle have employee show up or not on lists/access</li>
        <li><b>Admin Access:</b> Allowed to log into admin site. Must be BOTH current & have CCIA Access to log in. Can be set to false to prevent log in, but still appear on drop down lists (e.g. Seasonal Inspectors NOT allowed to log in, but must still be listed as inspector</li>
        <li><b>Core Staff:</b> Permanent CCIA employees. Core Staff can log in as orgs/contacts (can impersonate)</li>
        <li><b>Field Inspector:</b> People who need to be selected as inspector on the Field Inspection Page</li>
        <li><b>Cond. Status Update:</b> Can edit Orgs to add/remove/update conditioner status</li>
        <li><b>Admin:</b> Administrative staff who have full access to site, including all other roles. Only admins may adjust these roles.</li>
        <li><b>Edit Varieties:</b> Can create and edit Varieties</li>
        <li><b>Seed Lot Inform:</b> Include on emails letting staff know a new seed lot has been submitted</li>
        <li><b>Seasonal Employee:</b> Mostly used to exclude from certain sensative pages. Can view Orgs but make no updates.</li>
        <li><b>Billing:</b> Can open/run/mark as complete the billing export</li>
        <li><b>New Tag Inform:</b> Include on emails letting staff know a new tag has been submitted</li>
        <li><b>Tag Print Inform:</b> Inlcude on emails letting staff know a tag has been accepted and is ready to print</li>
        <li><b>Heritage QA Inform:</b> Include on emails letting staff know a new Heritage Grain QA application has been submitted</li>
        <li><b>Pre-variety Germplasm (PVG) Inform:</b> Include on emails letting staff know a new PVG application has been submitted </li>
        <li><b>OECD Invoice Printer:</b> Include on emails letting staff know an OECD certificate has been printed (and should print an invoice copy)</li>
        <li><b>New Blend Inform:</b> Include in emails when a new blend request is submitted</li>

        
    </ul>
</div>