@model CCIA.Models.CCIAEmployees

<h2>Employee Details</h2> 
<form asp-action="NewEmployee">
<div class="container col-sm-10">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-dark" asp-action="Employees">Cancel Adding</a>            
        </div>
    </div>   
    <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="form-group row">
                        <label asp-for="Id" class="col-sm-4 col-form-label">Employee ID</label>
                        <input asp-for="Id" class="col-sm-4 form-control">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Id" data-valmsg-replace="true"></span>
                </div>
            </div>        
    </div>
    <div class="row">
         <div class="col-md-6 col-xl-4">@*First column *@
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                <input asp-for="FirstName" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">
                <label asp-for="UCDMailID" class="col-sm-4 col-form-label"></label>
                <input asp-for="UCDMailID" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="UCDMailID" data-valmsg-replace="true"></span>
            </div>          
            <div class="form-group row">                
                    <label asp-for="Current" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="Current" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="FieldInspector" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="FieldInspector" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="EditVarieties" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="EditVarieties" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="BillingAccess" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="BillingAccess" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="HeritageGrainQA" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="HeritageGrainQA" class="col-sm-3 form-control">
            </div>      
            <div class="form-group row">
                <label asp-for="NewBlend" class="col-sm-6 col-form-label"></label>
                <input type="checkbox" asp-for="NewBlend" class="col-sm-3 form-control">
            </div>         
        </div>
        <div class="col-md-6 col-xl-4">@*Second column *@
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                 <input asp-for="LastName" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label asp-for="CampusPhone" class="col-sm-4 col-form-label"></label>
                 <input asp-for="CampusPhone" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="CampusPhone" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">                
                    <label asp-for="CCIAAccess" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="CCIAAccess" class="col-sm-3 form-control">
            </div>    
            <div class="form-group row">                
                    <label asp-for="ConditionerStatusUpdate" class="col-sm-5 col-form-label"></label>
                    <input type="checkbox" asp-for="ConditionerStatusUpdate" class="col-sm-3 form-control">
            </div>    
            <div class="form-group row">                
                    <label asp-for="SeedLotInform" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="SeedLotInform" class="col-sm-3 form-control">
            </div>    
            <div class="form-group row">                
                    <label asp-for="NewTag" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="NewTag" class="col-sm-3 form-control">
            </div>    
            <div class="form-group row">                
                    <label asp-for="PrevarietyGermplasm" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="PrevarietyGermplasm" class="col-sm-3 form-control">
            </div>
                <div class="form-group row">
                    <label asp-for="Lactracker" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="Lactracker" class="col-sm-3 form-control">
                </div>
            </div>
        <div class="col-md-6 col-xl-4">@*Third column *@
            <div class="form-group row">
                <label asp-for="KerberosId" class="col-sm-3 col-form-label"></label>
                 <input asp-for="KerberosId" class="col-sm-3 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="KerberosId" data-valmsg-replace="true"></span>
            </div>  
            <div class="form-group row">
                <label asp-for="CellPhone" class="col-sm-3 col-form-label"></label>
                 <input asp-for="CellPhone" class="col-sm-4 form-control">
                <span class="field-validation-valid text-danger" data-valmsg-for="CellPhone" data-valmsg-replace="true"></span>
            </div> 
            <div class="form-group row">                
                    <label asp-for="CoreStaff" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="CoreStaff" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="Admin" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="Admin" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="SeasonalEmployee" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="SeasonalEmployee" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="TagPrint" class="col-sm-3 col-form-label"></label>
                    <input type="checkbox" asp-for="TagPrint" class="col-sm-3 form-control">
            </div>
            <div class="form-group row">                
                    <label asp-for="OECDInvoicePrinter" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="OECDInvoicePrinter" class="col-sm-3 form-control">
            </div> 
            <div class="form-group row">                
                    <label asp-for="AdminEmailSummary" class="col-sm-4 col-form-label"></label>
                    <input type="checkbox" asp-for="AdminEmailSummary" class="col-sm-3 form-control">
            </div>                     
        </div>
    </div>
    <div>
            <input type="submit" value="Create Employee" class="btn btn-primary">
    </div>
</div>
</form>

@await Html.PartialAsync("_RoleExplanation")
