<div class="text-center">
    <h1 class="display-4">Bulk Sales Certificates</h1>
</div>

<div class="container col-sm-12">            
    <div class="row">
       <ul>
           <li><a asp-action="Lookup">Find BSC</a></li>
           <li><a asp-action="Search">Search BSC</a></li>
       </ul>
    </div>
</div>