<h2>Blends</h2> 
<form asp-action="Details" method="GET">
<div class="container">
    <div class="row">
         <div class="col-sm-12">
            <div asp-validation-summary="All" class="text-danger"></div>            
        </div>  
    </div>
    <div class="form-group row required">
        <label for="Id" class="col-sm-3 col-form-label">Bulk Sales Certificate ID</label>
        <input type="text" id="Id" class="col-sm-9 form-control" name="Id" data-val="true" data-val-required="BSC ID is required" data-val-number="BSC ID must be a number.">
        <span class="field-validation-valid text-danger" for="Id"  data-valmsg-replace="true"></span>
    </div>
    <div class="row">
         <input type="submit" value="Get BSC" id="submit" class="btn btn-primary"></input>
    </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#submit').click(function(e) {
           // e.preventDefault();
            
        });
</script>
}