@model ApplicationViewModel

<style>
    .top-margin {
        margin-top: .8rem;
    }
</style>
@{ string name = ViewBag.name; }
<div class="form-check">
    @foreach (var item in Model.ClassProducedList) 
    {
        <div class="top-margin">
            @Html.RadioButton(name, item.ClassProducedId, new { @class = "form-check-input"} )
            <label class="form-check-label" for="inlineRadio1">@item.ClassProducedTrans</label>
        </div>
    }
</div>