<label for="date-planted">Date Planted</label><em class="required">•</em>
<div class='input-group date' id='datetimepicker1' data-target-input="nearest">
    @Html.TextBox("DatePlanted", "", new { @class="form-control datetimepicker-input", 
                                                    id="date-planted", 
                                                    placeholder="MM/DD/YYYY",
                                                    data_target="#datetimepicker1" })
    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
</div>
@Html.ValidationMessage("DatePlanted", "", new { @class = "text-danger" })


@section Scripts {
<script type="text/javascript">
    // Set functionality for date time picker
    $('#datetimepicker1').datetimepicker({
        format: 'MM/DD/YYYY'
    });
</script>
}