@model MasterApplicationViewModel

<label for="date-planted">Date Planted</label><em class="required">•</em>
<div class="input-group mb-3">
    @Html.TextBox("DatePlanted", "", new { @class="form-control datepicker", 
                                                    id="datepicker", 
                                                    placeholder="MM/DD/YYYY"})
    <div class="input-group-append" id="calendar-btn" onclick="$('#datepicker').focus();">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
</div>       
@Html.ValidationMessage("DatePlanted", "", new { @class = "text-danger" })        