@model ApplicationViewModel

@{ string name = ViewBag.name; }
<div class="form-check form-check-inline">
    @foreach (var item in Model.ClassProducedList) 
    {
        <label class="form-check-label radio-btn-container" for="@name-@item.ClassProducedId">
            @Html.RadioButton(name, item.ClassProducedId, new { @class = "form-check-input checkbox", id=name+"-"+item.ClassProducedId } )
            @item.ClassProducedTrans
            <span class="checkmark"></span>
        </label>
    }
</div>